* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: calc(100vh - 25vh);
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        min-height: calc(100vh - 25vh);
        overflow: auto;
    }
}

.cards {
    flex: 1;
    background-color: aliceblue;
    overflow: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

@media (max-width: 750px) {
    .cards {
        min-height: 400px;
    }
}    

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.card img {
    max-width: 100%;
}

nav {
    order: -1;
    flex: 0 0 20vw;
    background-color: antiquewhite;
    padding: 1em;
}

@media (min-width: 752px) and (max-width: 800px){
    nav {
        flex: 0 0 25vw;
    }
} 

@media (max-width: 750px) {
    nav {
        order: 2;
    }
}    

nav > h3 {
    padding-bottom: 15px;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    padding-bottom: 5px;
}

aside {
    flex: 0 0 20vw;
    background-color: antiquewhite;
    padding: 1em;
    overflow: auto;
}

@media (min-width: 752px) and (max-width: 800px){
    aside {
        flex: 0 0 25vw;
    }
} 

@media (max-width: 750px) {
    aside {
        min-height: 200px;
        order: -1;
    }
}    

aside > h3 {
    text-align: center;
    padding-bottom: 15px;
}

header {
    height: 15vh;
    background-color: cornsilk;
    text-align: center;
    line-height: 15vh;
}

footer {
    height: 10vh;
    background-color: cornsilk;
    padding: 1em;
}

