* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: calc(100vh - 30vh);
}

article {
    flex: 1;
    background-color: aliceblue;
}

nav {
    order: -1;
    flex: 0 0 20vw;
    background-color: antiquewhite;
}

aside {
    flex: 0 0 20vw;
    background-color: antiquewhite;
}

header {
    height: 20vh;
    background-color: cornsilk;
}

footer {
    height: 10vh;
    background-color: cornsilk;
}

